# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64


# Debug files
*.dSYM/
/legal_disclaimer.txt
/project_information.txt
/getting_started.txt
/build/
/debug/
/dist/XC8_PIC16F1823/production/memoryfile.xml
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.sdb
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.elf
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.mum
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.sym
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.obj
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.cmf
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.hxl
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.map
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.lst
/dist/XC8_PIC16F1823/production/PIRUSensor.X.production.rlf
/nbproject/
